# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
*.md
*.in
*.out
*.ans
python/
KC/
LC/
.vscode/picgo_history.json
.vscode/picgo_data.json
a.py
aa.py
ab.py
abc.cpp
test.cpp
now.cpp
tools.cpp
lflist.conf
对拍.bat
nnn.cpp
agc.py
ac.py
*.docx
ccc.cpp
gh.cpp
make.py
