# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.in
*.out
*.ans
*.txt
*.pyc
*.prob
*.md
*.html
*.json
*.xlsm
*.xlsx
*.csv
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.rs
*.yaml
*.yml
*.pdf
*.py

Anim
Makefile
Nowcoder
xlnt
Website
USACO
/*.cpp
C0
duipai
testlib
cyaron
Problem