# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
*.md
*.in
*.out
*.ans
python/cyaron/__init__.py
python/cyaron/__pycache__/__init__.cpython-39.pyc
python/cyaron/__pycache__/compare.cpython-39.pyc
python/cyaron/__pycache__/consts.cpython-39.pyc
python/cyaron/__pycache__/graph.cpython-39.pyc
python/cyaron/__pycache__/io.cpython-39.pyc
python/cyaron/__pycache__/log.cpython-39.pyc
python/cyaron/__pycache__/math.cpython-39.pyc
python/cyaron/__pycache__/merger.cpython-39.pyc
python/cyaron/__pycache__/output_capture.cpython-39.pyc
python/cyaron/__pycache__/polygon.cpython-39.pyc
python/cyaron/__pycache__/sequence.cpython-39.pyc
python/cyaron/__pycache__/string.cpython-39.pyc
python/cyaron/__pycache__/utils.cpython-39.pyc
python/cyaron/__pycache__/vector.cpython-39.pyc
python/cyaron/compare.py
python/cyaron/consts.py
python/cyaron/graders/__init__.py
python/cyaron/graders/__pycache__/__init__.cpython-39.pyc
python/cyaron/graders/__pycache__/fulltext.cpython-39.pyc
python/cyaron/graders/__pycache__/graderregistry.cpython-39.pyc
python/cyaron/graders/__pycache__/mismatch.cpython-39.pyc
python/cyaron/graders/__pycache__/noipstyle.cpython-39.pyc
python/cyaron/graders/fulltext.py
python/cyaron/graders/graderregistry.py
python/cyaron/graders/mismatch.py
python/cyaron/graders/noipstyle.py
python/cyaron/graph.py
python/cyaron/io.py
python/cyaron/log.py
python/cyaron/math.py
python/cyaron/merger.py
python/cyaron/output_capture.py
python/cyaron/polygon.py
python/cyaron/sequence.py
python/cyaron/string.py
python/cyaron/tests/__init__.py
python/cyaron/tests/__pycache__/__init__.cpython-39.pyc
python/cyaron/tests/__pycache__/compare_test.cpython-39.pyc
python/cyaron/tests/__pycache__/graph_test.cpython-39.pyc
python/cyaron/tests/__pycache__/io_test.cpython-39.pyc
python/cyaron/tests/__pycache__/polygon_test.cpython-39.pyc
python/cyaron/tests/__pycache__/sequence_test.cpython-39.pyc
python/cyaron/tests/__pycache__/str_test.cpython-39.pyc
python/cyaron/tests/compare_test.py
python/cyaron/tests/general_test.py
python/cyaron/tests/graph_test.py
python/cyaron/tests/io_test.py
python/cyaron/tests/polygon_test.py
python/cyaron/tests/sequence_test.py
python/cyaron/tests/str_test.py
python/cyaron/utils.py
python/cyaron/vector.py
python/cyaron/visual.py
python/examples/test2.py
python/examples/test3.py
python/examples/test_bzoj2120.py
python/examples/test_bzoj2152.py
python/examples/test_bzoj2179.py
python/examples/test_bzoj2818.py
python/examples/test_compare.py
python/examples/test_inputonly.py
python/examples/test_polygon.py
python/examples/test_sequence.py
python/examples/test_simple_graph.py
python/examples/test_str.py
python/examples/test_unique_seq.py
python/examples/test_vector_bzoj1901.py
python/examples/test_vector_bzoj4823.py
python/examples/test_vector_bzoj4824.py
python/unit_test.py
.vscode/picgo_history.json
.vscode/picgo_data.json
a.py
aa.py
ab.py
abc.cpp
test.cpp
排序.cpp
lflist.conf
